<div class="card">
  <div class="card-body">
    <p>Nulla lectus elit, interdum sit amet molestie eu, varius quis tellus. Donec mollis enim a nulla aliquam tempor. Sed fermentum eros sed sapien malesuada pulvinar. Mauris et lectus rutrum lorem gravida vehicula in vitae est. Integer semper arcu sit amet urna dictum, a scelerisque dui volutpat. Integer pulvinar ac nibh et tincidunt. Vivamus scelerisque et turpis eget efficitur. Quisque nibh eros, euismod vel consectetur ut, dapibus eget quam. Integer eget odio non augue pharetra efficitur. Cras ut mi a est gravida hendrerit nec ac purus.</p> 
  </div>
</div>