<div class="jumbotron mt-4">
    <h1 class="display-4">Notes App NodeJs and MongoDB</h1>
    <p class="lead">Lorem Ipsum, dolor sit amet consectur</p>
    <hr class="my-4">
    <p>Lorem ipsum dolor sit amet, consectetur adipiscing elit. Maecenas id metus tristique, dictum tortor ac, posuere tortor. Curabitur accumsan molestie egestas. Nullam non lectus ante. Donec ipsum urna, efficitur ac odio eget, porttitor elementum massa. Quisque egestas lacus a vulputate malesuada</p>
    <a href="https://github.com/BorjaG90" class="btn btn-primary btn-lg">BorjaG90</a>
</div>